<div id="qbootstrap-groom-bride" data-section="groom-bride">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2">
          <div class="col-md-12 text-center section-heading svg-sm-2 colored">
            <img src="assets/images/flaticon/svg/002-wedding-couple.svg" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
            <h2>Groom &amp; Bride</h2>
            <p>We started talking after being introduced by a mutual contact shortly after I graduated. After months of talking and getting to know each other over the phone, Suhayl flew across the sea to finally meet me in person. From the moment we first met he stole my heart. Next thing you know he proposes on Valentines day and the rest is history.  </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="couple groom text-center animate-box">
            <img src="assets/images/groom.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
            <div class="desc">
              <h2>Suhayl Rahim</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vero totam eum, necessitatibus reprehenderit nisi, ratione neque aspernatur sapiente minus? Omnis neque labore distinctio aspernatur esse impedit laboriosam, veritatis dolorem!</p>
              <ul class="social social-circle">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="couple bride text-center animate-box">
            <img src="assets/images/bride.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
            <div class="desc">
              <h2>Alia Dhala</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vero totam eum, necessitatibus reprehenderit nisi, ratione neque aspernatur sapiente minus? Omnis neque labore distinctio aspernatur esse impedit laboriosam, veritatis dolorem!</p>
              <ul class="social social-circle">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="qbootstrap-story" data-section="story">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2">
          <div class="col-md-12 text-center section-heading svg-sm-2">
            <img src="assets/images/flaticon/svg/003-luxury.svg" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
            <h2>Tidbits</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="timeline animate-box">
            <li class="animate-box">
              <div class="timeline-badge" style="background-image:url(assets/images/couple-1.jpg);"></div>
              <div class="timeline-panel">
                <div class="overlay"></div>
                <div class="timeline-heading">
                  <h3 class="timeline-title">How did you first meet ?</h3>
                </div>
                <div class="timeline-body">
                  <p><a href="#" data-nav-section="groom-bride">Click to See our Story!</a></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted animate-box">
              <div class="timeline-badge" style="background-image:url(assets/images/couple-2.jpg);"></div>
              <div class="timeline-panel">
                <div class="overlay overlay-2"></div>
                <div class="timeline-heading">
                  <h3 class="timeline-title">Who made the fist move and how ?</h3>
                  <span class="date">January 1, 2017</span>
                </div>
                <div class="timeline-body">
                  <p>He made the first move when he texted me on New Years day. A few hours later we had plans for dinner that week. </p>
                </div>
              </div>
            </li>
            <li class="animate-box">
              <div class="timeline-badge" style="background-image:url(images/couple-3.jpg);"></div>
              <div class="timeline-panel">
                <div class="overlay"></div>
                <div class="timeline-heading">
                  <h3 class="timeline-title">Whose going to take out the trash</h3>
                </div>
                <div class="timeline-body">
                  <p>Whoever happens to be closer to the trash :) </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted animate-box">
              <div class="timeline-badge" style="background-image:url(assets/images/couple-4.jpg);"></div>
              <div class="timeline-panel">
                <div class="overlay overlay-2"></div>
                <div class="timeline-heading">
                  <h3 class="timeline-title">Whats your favorite activity together</h3>
                </div>
                <div class="timeline-body">
                  <p>Eating, we both love food!</p>
                </div>
              </div>
            </li>
            <li class="animate-box">
              <div class="timeline-badge" style="background-image:url(images/couple-3.jpg);"></div>
              <div class="timeline-panel">
                <div class="overlay overlay-2"></div>
                <div class="timeline-heading">
                  <h3 class="timeline-title">Where are you going for your honeymoon</h3>
                </div>
                <div class="timeline-body">
                  <p>Our wedding is in Africa, is there really a need to go elsewhere!?</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted animate-box">
              <div class="timeline-badge" style="background-image:url(assets/images/couple-4.jpg);"></div>
              <div class="timeline-panel">
                <div class="overlay overlay-2"></div>
                <div class="timeline-heading">
                  <h3 class="timeline-title">Whats the most memorable trip you have taken together?</h3>
                </div>
                <div class="timeline-body">
                  <p>..........Toronto............</p>
                </div>
              </div>
            </li>
            </ul>
        </div>
      </div>
    </div>
  </div>