<header role="banner" id="qbootstrap-header" class = "navbar navbar-default navbar-fixed-top" >
    <div class="container">
      <!-- <div class="row"> -->
        
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
        <a href="#" class="js-qbootstrap-nav-toggle qbootstrap-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
              <a class="navbar-brand" href="index.html">Suhail & Aliya</a> 
          </div>
          <div id="navbar" class="navbar-collapse collapse ">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#" data-nav-section="home">Home</a></li>
              <li><a href="#" data-nav-section="groom-bride"><span>Groom &amp; Bride</span></a></li>
              <li><a href="#" data-nav-section="story"><span>Tidbits</span></a></li>
              <li><a href="#" data-nav-section="when-where"><span>When &amp; Where</span></a></li>
              <li><a href="#" data-nav-section="rsvp"><span>RSVP</span></a></li>
              <li><a href="#" data-nav-section="blog"><span>Blog</span></a></li>
              <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1-TfEECF-95BGExcbtUSOz2aGszvFmDeHD0iXrvNuOzI/edit?usp=sharing" ><span>Admin</span></a></li>
              
            
            </ul>
          </div>
        </nav>
      <!-- </div> -->
    </div>
</header>

