<!-- Contact -->
<section class="page-section" id="contact">
    
    <div class="container">
      <div id="image"></div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Please Enter Password Below</h2>
          <h3 class="section-subheading text-muted">Contact Us if you need the Password</h3>
        </div>
        <div class="col-lg-12 text-center">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="form-group text-center">
                  <input class="form-control" placeholder="Password" type = "password" name = "password" /><br/>                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                  <button type = "button" class="btn btn-primary btn-xl text-uppercase" id = "validate" onclick = "validateForm();">Validate Password</button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
