
<div id="qbootstrap-when-where" data-section="when-where">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2">
          <div class="col-md-12 text-center section-heading svg-sm colored">
            <img src="assets/images/flaticon/svg/005-two.svg" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
            <h2>Ceremony &amp; Party</h2>
            <div class="row">
            <div class="col-md-10 col-md-offset-1 subtext">
              <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="row row-bottom-padded-md">
        <div class="col-md-6 text-center animate-box">
          <div class="wedding-events">
            <div class="ceremony-bg" style="background-image: url(assets/images/wed-ceremony.jpg);"></div>
            <div class="desc">
              <h3>Sharwate Shadi Majlis in Mwanza</h3>
              <div class="row">
                <div class="col-md-2 col-md-push-5">
                  <div class="icon-tip">
                    <span class="icon"><i class="icon-heart-o"></i></span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-calendar"></i>
                    <span>Saturday</span>
                    <span>30 May. 2020</span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-clock2"></i>
                    <span>8:00 PM</span>
                    <span>10:00 PM</span>
                  </div>
                </div>
              </div>
              <p>For Ladies and Gents at The Khoja Ithnasheri Jamaat Mosque</p> 
              <p><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MjI1amo0cHRkOXEwZ2wzcG02YTc5cmdvZmggYXFlZWxuaXphckBt&amp;tmsrc=aqeelnizar%40gmail.com" class="btn btn-primary btn-sm">Add To Calender</a></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 text-center animate-box">
          <div class="wedding-events">
            <div class="ceremony-bg" style="background-image: url(assets/images/wed-party.jpg);"></div>
            <div class="desc">
              <h3>Sharwate Shadi and Mandwo</h3>
              <div class="row">
                <div class="col-md-2 col-md-push-5">
                  <div class="icon-tip">
                    <span class="icon"><i class="icon-heart-o"></i></span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-calendar"></i>
                    <span>Saturday</span>
                    <span>20 June. 2020</span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-clock2"></i>
                    <span>8:00 PM</span>
                    <span>11:00 PM</span>
                  </div>
                </div>
              </div>
              <p>To be held at ... for all ladies</p> 
              <p><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MjI1amo0cHRkOXEwZ2wzcG02YTc5cmdvZmggYXFlZWxuaXphckBt&amp;tmsrc=aqeelnizar%40gmail.com" class="btn btn-primary btn-sm">Add To Calender</a></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 text-center animate-box">
          <div class="wedding-events">
            <div class="ceremony-bg" style="background-image: url(assets/images/wed-party.jpg);"></div>
            <div class="desc">
              <h3>Nikhaa Ceremony</h3>
              <div class="row">
                <div class="col-md-2 col-md-push-5">
                  <div class="icon-tip">
                    <span class="icon"><i class="icon-heart-o"></i></span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-calendar"></i>
                    <span>Tuesday</span>
                    <span>23 June. 2020</span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-clock2"></i>
                    <span>8:00 PM</span>
                    <span>11:00 PM</span>
                  </div>
                </div>
              </div>
              <p>Nikhah Recitation to be held</p> 
              <p><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MjI1amo0cHRkOXEwZ2wzcG02YTc5cmdvZmggYXFlZWxuaXphckBt&amp;tmsrc=aqeelnizar%40gmail.com" class="btn btn-primary btn-sm">Add To Calender</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 text-center animate-box">
          <div class="wedding-events">
            <div class="ceremony-bg" style="background-image: url(assets/images/wed-party.jpg);"></div>
            <div class="desc">
              <h3>Reception</h3>
              <div class="row">
                <div class="col-md-2 col-md-push-5">
                  <div class="icon-tip">
                    <span class="icon"><i class="icon-heart-o"></i></span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-calendar"></i>
                    <span>Thursday</span>
                    <span>25 June. 2020</span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-clock2"></i>
                    <span>8:00 PM</span>
                    <span>11:00 PM</span>
                  </div>
                </div>
              </div>
              <p>Couple Reception to be held</p> 
              <p><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MjI1amo0cHRkOXEwZ2wzcG02YTc5cmdvZmggYXFlZWxuaXphckBt&amp;tmsrc=aqeelnizar%40gmail.com" class="btn btn-primary btn-sm">Add To Calender</a></p>
            </div>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="map" class="qbootstrap-map"></div>
        </div>
      </div>
    </div>
    </div>
  
