 <!-- About -->
 <section class="bg-light page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About</h2>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>1989</h4>
                  <h4 class="subheading">..............</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Born and raised in the City of Angels (Los Angeles), Mehdi is the third child of Maz and Rozina Kermally. Being the middle of five children enabled an environment rich in expression and propelled Mehdi towards performing at an early age.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="assets/img/about/2011.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2011</h4>
                  <h4 class="subheading">..............</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Having roots primarily in theater, Mehdi chose to venture out of his comfort zone by producing his first film "Moving Forward" (2011). He embraced the craft, later performing in commercial spots and short films.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="assets/img/about/2010.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2010</h4>
                  <h4 class="subheading">..............</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Alongside his love for the art, Mehdi has a passion for youth education with a devotion towards medicine and mental health. In 2010, he led a volunteer initiative to Zanzibar, Africa, where he taught English and literature in local schools, and served as a medic throughout the village.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="assets/img/about/2020.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2020</h4>
                  <h4 class="subheading">..............</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Mehdi is a Registered Practical Nurse in Ontario, Canada, and is currently pursuing further studies in medicine.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <a routerLink ="/contact"><h4>Be Part
                  <br>Of My
                  <br>Story!</h4></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>